{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv">
            <p>【标签调用方法】</p>
            <ol>
                <li>默认系统自动显示，如果关闭了自动调用，请手工复制以下代码到模板文件底部： </li>
                <li>{literal}{:hookexec('Contact/Contact/show')}{/literal}</li>
            </ol>
        </div>
    </div>
</div>
{include file="footer.htm" /}